<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gated</title>
  </head>
  <body>
    <h3>Staff Dashboard</h3>
    <form method="POST" action="/logout">
      <button type="submit">Log Out</button>
    </form>

    <% users.forEach(user => { if (user.group == "student") { %>
    <hr />
    <a href="/users/<%= user._id %>"> <%= user.name %> </a>

    <%}}) %>
  </body>
</html>
